



div .versus{
width: 775px;
height: 400px;
margin: 5px auto 5px auto;
-vendor-animation-duration: 3s;
-vendor-animation-delay: 2s;
-vendor-animation-iteration-count: infinite;
}

div .equipoLocal {

background-color: rgba(20, 20, 20, 0.4);
width: 350px;
height: 380px;
float: left;
margin: 20px 5px 20px 20px;
border-radius: 3px;
text-align: center;
border: 1px solid black;
}

div .equipoVisitante {

background-color: rgba(20, 20, 20, 0.4);
width: 350px;	
height: 380px;
float: right;
margin: 20px 20px 20px 5px;
border-radius: 3px;
text-align: center;
border: black 1px solid;
}

div h3{
	font-size: 1.3em;
	text-align: center;
	margin: 10px auto;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    color: rgb(230, 255, 252);
}
img#localLogo{
	width: 175px;
	height: 175px;
	background: black;
	margin: 5px auto 10px auto;
	display: table-cell;
	text-align: center;
	border-radius: 3px;
    -webkit-box-shadow: 6px 8px 30px 6px rgba(255, 255, 255, 0.20);
    -moz-box-shadow:    6px 8px 30px 6px rgba(255, 255, 255, 0.20);
    box-shadow:         6px 8px 30px 6px rgba(255, 255, 255, 0.20);
	

}
img#visitanteLogo{
	width: 175px;
	height: 175px;
	background: black;
    margin: 5px auto 10px auto;
	
	display: table-cell;
	text-align: center;

	border-radius: 3px;
	-webkit-box-shadow: 6px 8px 30px 6px rgba(255, 255, 255, 0.20);
-moz-box-shadow:    6px 8px 30px 6px rgba(255, 255, 255, 0.20);
box-shadow:         6px 8px 30px 6px rgba(255, 255, 255, 0.20);
	
}

div #play{

	width: 750px;
	height: 75px;
	/*background-color: rgba(20, 20, 20, 0.6);*/
	margin: auto;
}

.button {
   
    display: inline-block;
    margin: 0 auto 0 auto;
    
    -webkit-border-radius: 5px;
    
    -webkit-box-shadow: 
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */
    
    -webkit-transition: -webkit-box-shadow .1s ease-in-out;

} 

.button span {
    background-color: #E8E8E8;
    
    background-image: 
        /* gloss gradient */
        -webkit-gradient(
            linear, 
            left bottom, 
            left top, 
            color-stop(50%,rgba(255,255,255,0)), 
            color-stop(50%,rgba(255,255,255,0.3)), 
            color-stop(100%,rgba(255,255,255,0.2))),
        
        /* dark outside gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(210,210,210,0.3)), 
            color-stop(20%,rgba(210,210,210,0)), 
            color-stop(80%,rgba(210,210,210,0)), 
            color-stop(100%,rgba(210,210,210,0.3))),
        
        /* light inner gradient */
        -webkit-gradient(
            linear, 
            left top, 
            right top, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(20%,rgba(255,255,255,0.5)), 
            color-stop(80%,rgba(255,255,255,0.5)), 
            color-stop(100%,rgba(255,255,255,0))),        
        
        /* diagonal line pattern */
        -webkit-gradient(
            linear, 
            0% 100%, 
            100% 0%, 
            color-stop(0%,rgba(255,255,255,0)), 
            color-stop(40%,rgba(255,255,255,0)), 
            color-stop(40%,#D2D2D1), 
            color-stop(60%,#D2D2D1), 
            color-stop(60%,rgba(255,255,255,0)), 
            color-stop(100%,rgba(255,255,255,0)));
    
        -webkit-box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */
    
    -webkit-background-size: 100%, 100%, 100%, 4px 4px;
    -webkit-border-radius: 5px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    color: #3A474D;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 1;
    text-shadow: 0px 1px #fff, 0px -1px #000;
}

    .button span:hover {
            color: #FF5500;
            text-shadow: 0px -1px #97A63A;
            cursor: pointer;
        }

    .button:active {
            -webkit-box-shadow: 
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

    .button:active span{
            -webkit-transform: translate(0, 5px); /* depth of button press */
        }

    .button span:after {
        
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 14px;
        top: 12px;    
        font-family: 'Cabin';
        font-weight: 700;
        color: #AEBF3B;
        text-shadow: 0px 1px #fff, 0px -1px #97A63A;
        font-size: 26px;
    }



select.chosen-select{
    width:220px;
    
}

div #play{
    text-align: center;
}
.chosen-rtl .chosen-drop { left: -9000px; }


}