
body{
    background: black;
    background-image: url(bk.jpg); 
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Orbitron', sans-serif;
    outline:none;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

input:focus{
    outline: 0;
}

h2{
    color: #FF5500;
    font-size: 2em;
    margin: 10px 0 5px 0;
    text-align: center;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}
#contenedor{
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 2px;
    border: black 1px solid;
    width: 900px;
    height: 675px;
    margin: 40px auto 10px auto;
    padding: 5px 10px 10px 10px;
    
 -webkit-box-shadow: 6px 8px 30px 6px rgba(255, 255, 255, 0.20);
-moz-box-shadow:    6px 8px 30px 6px rgba(255, 255, 255, 0.20);
box-shadow:         6px 8px 30px 6px rgba(255, 255, 255, 0.20);

}
div .marcador{
  width: 800px;
  height: 550px;
  margin: auto;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  -vendor-animation-duration: 3s;
-vendor-animation-delay: 2s;
-vendor-animation-iteration-count: infinite;
}

div #equipos input[type="text"]{
    border-radius: 3px;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    height: 70px;
    margin: 13px auto ;
    padding: 0;
    text-align: center;
    width: 75px;
}

div #equipos{
    height: 150px;
    margin: auto;
    width: 500px;
}
div .cajasInline{
    background-color: rgba(20, 20, 20, 0.7);
    border-radius: 3px;
    color:#fff;
    display: inline-block;
    height: 100px;
    margin: 5px 10px;
    text-align:center;
    width:100px;
}
div #equipos p{
    font-size: 1.2em;
    text-align: center;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

div #equipos img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

div #marcadorTiros{
    height: 150px;
    width: 550px;
    margin: 40px auto 0 auto ;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
}

div #marcadorTiros input[type="button"]{   
  margin: 0 5px 0 5px;
  font-family: 'Orbitron', sans-serif;
  width:40px;
  height:40px;
  display:inline-block;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #07526e;
  padding-top:6px;
  left:30px;
  position:relative;
  cursor:pointer;
  border: none;
  background: #333333;
  background-image: linear-gradient(bottom, rgb(154,154,154) 0%, rgb(154,154,154) 100%);
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px #555555, 
                    0px 5px 0px 0px #000, 
                    0px 10px 5px #999;
}


div #marcadorTiros input[type="button"]:active{   
top:3px;
box-shadow: inset 0px 1px 0px #333333, 
0px 2px 0px 0px #333333, 0px 5px 3px #999;;
}

div #marcadorTiros input[type="button"]:before{   
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  width:85px;
  height:90px;
  display:block;
  position:absolute;
  padding-top:10px;
  top:10px;
  text-shadow: 0.5px 0.5px 0.5px #07526e;
}


div #marcadorTiros input[type="button"]active:before{   
  font-family: 'Orbitron', sans-serif;
  top: 7px;
  font-size: 50px;
  text-shadow: 0px 3px 0px #07526e, 
               0px 5px 1px #07526e, 
               3px 0px 1px #07526e, 
               3px 3px 1px #07526e,
              -2px 0px 1px #68cff2;
}

div #marcadorTiros p{
    text-align: center;

}

div #tirosLocal{
   
    width: 225px;
    height: 75px;
    float: left;
    
}

div #tirosVisitante{
    
    width: 225px;
    height: 75px;
    float: right;
}

div #tirosLocal #controlLocal{
    
    width: 150px;
    height: 50px;
    margin: 5px 0 5px 55px;
    
}
div #tirosVisitante #controlVisitante{
    width: 150px;
    height: 50px;
    margin: 5px 55px 5px 0px
   
}

div #marcadorReloj{

 background-color: rgba(0, 0, 0, 0.2);
 width: 790px;
 height: 120px;
 margin: 10px auto;
 border: 1px solid black;
    
}

div #marcadorReloj #relojTiempo{
    margin: 10px auto;
    display: inline-block;
    width: 375px;
    height: 120px;
    float: left;
  
}
div #marcadorReloj #relojTiro{
    margin: 10px auto;
    display: inline-block;
    width: 375px;
    height: 120px;
    float: right;
    
}

div #marcadorReloj #controlEscena{
    margin: auto;
    display: inline-block;
    width: 375px;
    height: 120px;
    background: blue;
}

div #marcadorReloj  p{
    margin: 0;
    text-align: center;  

}

div #periodos{
  width: 250px;
  margin: auto;
}




div #marcadorReloj input[type="button"]{
  display: inline-block;
  margin: 5px 10px;
  width: 100px;
  height: 40px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  background: #172D3E;
  position:relative;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px #555555, 
                    0px 5px 0px 0px #000, 
                    0px 10px 5px #999;
}
div #marcadorReloj input[type="button"]:active{
top:3px;
box-shadow: inset 0px 1px 0px #333333, 
0px 2px 0px 0px #333333, 0px 5px 3px #999;;
}


div #marcadorReloj input[type="button"]:before{   
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  width:85px;
  height:90px;
  display:block;
  position:absolute;
  padding-top:10px;
  top:10px;
  text-shadow: 0.5px 0.5px 0.5px #07526e;
}


div #marcadorReloj input[type="button"]active:before{   
  font-family: 'Orbitron', sans-serif;
  top: 7px;
  font-size: 50px;
  text-shadow: 0px 3px 0px #07526e, 
               0px 5px 1px #07526e, 
               3px 0px 1px #07526e, 
               3px 3px 1px #07526e,
              -2px 0px 1px #68cff2;
}


div #controlEscena input[type="button"]{
  display: inline-block;
  margin: 5px 10px;
  width: 100px;
  height: 40px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  background: #172D3E;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px #555555, 
                    0px 5px 0px 0px #000, 
                    0px 10px 5px #999;
}
div #controlEscena input[type="button"]:active{
top:3px;
box-shadow: inset 0px 1px 0px #333333, 
0px 2px 0px 0px #333333, 0px 5px 3px #999;;
}


div #controlEscena input[type="button"]:before{   
  line-height: 1em;
  font-weight: normal;
  color: #fff;
  width:85px;
  height:90px;
  display:block;
  position:absolute;
  padding-top:10px;
  top:10px;
  text-shadow: 0.5px 0.5px 0.5px #07526e;
}


div #controlEscena input[type="button"]active:before{   
  font-family: 'Orbitron', sans-serif;
  top: 7px;
  font-size: 50px;
  text-shadow: 0px 3px 0px #07526e, 
               0px 5px 1px #07526e, 
               3px 0px 1px #07526e, 
               3px 3px 1px #07526e,
              -2px 0px 1px #68cff2;
}





div #controlEscena{

 text-align: center;
 background-color: rgba(0, 0, 0, 0.2);
 width: 450px;
 height: 130px;
 margin: 5px auto;
 border: 1px solid black;
    
}


div .agregarEquipo{
  margin: 25px auto 30px auto;
  width: 770px;
  height: 370px;
  background-color: rgba(20, 20, 20, 0.6);
  border: black 1px solid;
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;

}
div .agregarEquipo input[type="text"]{

float: right;
width: 260px;
height: 25px;
margin: 10px 5px 5px 0;
font-family: 'Orbitron', sans-serif;
  padding: 0 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}

div .agregarEquipo input[type="text"]:focus,
div .agregarEquipo input[type="text"].focus{
 box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

div .agregarEquipo label{

float: left;  
width: 125px;
text-align: right;
display: table-cell;
margin: 15px 5px 7px 0;
}





div #imgEquipo{

width: 290px;
float: left;
height: 290px;
/*background: red;*/
/*background: rgba(20, 20, 20, 0.7);*/
margin: 10px 10px 5px 10px; 
}

div #imgEquipo img{

width: 220px;
height: 220px; 
margin: 30px 35px 35px 40px;
-webkit-box-shadow: 6px 8px 30px 6px rgba(255, 255, 255, 0.20);
    -moz-box-shadow:    6px 8px 30px 6px rgba(255, 255, 255, 0.20);
    box-shadow:         6px 8px 30px 6px rgba(255, 255, 255, 0.20);
    border-radius: 3px;
}

div #imgEquipo input{

width: 250px;
height: 250px;
}

div #datosEquipo{

width: 410px;
height: 200px;
float: right;
/*background: rgba(20, 20, 20, 0.7);*/
margin: 70px 20px 5px 10px; 
}


/* dock - top */
.dock {
  margin: auto;
  position: relative; 
  width: 800px;
  height: 60px; 
  text-align: center;
  /*background-color: rgba(20, 20, 20, 0.1);*/
  border-radius: 3px;
}
.dock-container {
  position: absolute;
  height: 60px;
  
  padding-left: 20px;
}
a.dock-item {
  display: block;
  width: 60px;
  color: #fff;
  position: absolute;
  top: 0px;
  text-align: center;
  text-decoration: none;
  font-family: font-family: 'Orbitron', sans-serif;
}
.dock-item img {
  border: none; 
  margin: 5px 10px 0px; 
  width: 100%; 
}
.dock-item span {
  display: none; 
  padding-left: 20px;
}


.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
    border: black 1px solid
    width:300px;
}
/* Fixes for IE < 8 */
 @media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }



//CHOSEN STYLE

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.4.2
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2015 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}
.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {

  
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 30px;
  border: 1px solid #aaa;
  border-radius: 2px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 26px;
}
.chosen-container-single .chosen-default {
  
  color: #000;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('chosen-sprite.png') no-repeat 100% -20px;
  background: url('chosen-sprite.png') no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #000;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('chosen-sprite.png') no-repeat -30px -20px;
  background: url('chosen-sprite.png') no-repeat -30px -20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */

/*PRISM*/

/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; 
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag {
  color: #f92672;
}

.token.boolean,
.token.number{
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string {
  color: #a6e22e;
}


.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value
{
  color: #e6db74;
}


.token.keyword{
color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}


/* Estilo.css*/



